In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
import matplotlib.pyplot as plt 
%matplotlib inline
from subprocess import check_output
print(check_output(["ls", "input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

members.csv
sample_submission.csv
song_extra_info.csv
songs.csv
test.csv
train.csv

In [2]:
df_train = pd.read_csv("input/train.csv")

In [3]:
print(1)

1

In [4]:
df_songs = pd.read_csv("input/songs.csv")

In [5]:
df_songs_extra = pd.read_csv("input/song_extra_info.csv")

df_members = pd.read_csv("input/members.csv",parse_dates=["registration_init_time","expiration_date"])

In [6]:
df_test = pd.read_csv("input/test.csv")

In [7]:
df_train =df_train.merge(df_songs,how="left",on="song_id")

In [8]:
df_train = df_train.merge(df_members,how="left",on="msno")

In [9]:
df_test =df_test.merge(df_songs,how="left",on="song_id")

In [10]:
df_test = df_test.merge(df_members,how="left",on="msno")

**Handling Null Values **

In [11]:
df_train['gender'].fillna(value="Unknown",inplace=True)
df_test['gender'].fillna(value="Unknown",inplace=True)

In [12]:
df_train['source_system_tab'].fillna(value="Unknown",inplace=True)
df_test['source_system_tab'].fillna(value="Unknown",inplace=True)


df_train['source_screen_name'].fillna(value="Unknown",inplace=True)
df_test['source_screen_name'].fillna(value="Unknown",inplace=True)

df_train['source_type'].fillna(value="Unknown",inplace=True)
df_test['source_type'].fillna(value="Unknown",inplace=True)

df_train['genre_ids'].fillna(value="Unknown",inplace=True)
df_test['genre_ids'].fillna(value="Unknown",inplace=True)

df_train['artist_name'].fillna(value="Unknown",inplace=True)
df_test['artist_name'].fillna(value="Unknown",inplace=True)

df_train['composer'].fillna(value="Unknown",inplace=True)
df_test['composer'].fillna(value="Unknown",inplace=True)

df_train['lyricist'].fillna(value="Unknown",inplace=True)
df_test['lyricist'].fillna(value="Unknown",inplace=True)

In [13]:
df_train['song_length'].fillna(value=df_train['song_length'].mean(),inplace=True)

df_test['song_length'].fillna(value=df_test['song_length'].mean(),inplace=True)

In [14]:
df_train['language'].fillna(value=df_train['language'].mode()[0],inplace=True)

df_test['language'].fillna(value=df_test['language'].mode()[0],inplace=True)

In [15]:
gid_list = df_train['genre_ids'].unique()
gid_dic = {}
for i in range(len(gid_list)):
    gid_dic[gid_list[i]] = i
df_train['genre_ids_new'] = df_train['genre_ids'].map(gid_dic)
df_test['genre_ids_new'] = df_test['genre_ids']
df_test["genre_ids_new"] = df_test["genre_ids_new"].apply(lambda x : x if x in gid_dic else "Unknown").map(gid_dic)

In [16]:
df_test.head()

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,genre_ids_new
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,Unknown,3.0,1,0,Unknown,7,2016-02-19,2017-09-18,6
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,Unknown,7,2016-02-19,2017-09-18,4
2,2,/uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=,8eZLFOdGVdXBSqoAv5nsLigeH2BvKXzTQYtUM53I0k4=,discover,Unknown,song-based-playlist,315899.0,2022,Yu Takahashi (高橋優),Yu Takahashi,Yu Takahashi,17.0,1,0,Unknown,4,2016-11-17,2016-11-24,5
3,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,radio,Radio,radio,285210.0,465,U2,The Edge| Adam Clayton| Larry Mullen| Jr.,Unknown,52.0,3,30,male,9,2007-07-25,2017-04-30,4
4,4,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,MKVMpslKcQhMaFEgcEQhEfi5+RZhMYlU3eRDpySrH8Y=,radio,Radio,radio,197590.0,873,Yoga Mr Sound,Neuromancer,Unknown,-1.0,3,30,male,9,2007-07-25,2017-04-30,64

**Genre IDS**

In [17]:
df_train['genre_ids_new'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572])

In [18]:
df_train['genre_ids'] = df_train['genre_ids'].str.split("|")

df_test['genre_ids'] = df_test['genre_ids'].str.split("|")

In [19]:
df_train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,genre_ids_new
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,[359],Bastille,Dan Smith| Mark Crew,Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,0
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,[1259],Various Artists,Unknown,Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,[1259],Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,[1019],Soundway,Kwadwo Donkoh,Unknown,-1.0,13,24,female,9,2011-05-25,2017-09-11,2
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,[1011],Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,3

In [20]:
df_train['genre_count'] = df_train['genre_ids'].apply(lambda x : len(x) if "Unknown" not in x else 0)

df_test['genre_count'] = df_test['genre_ids'].apply(lambda x : len(x) if "Unknown" not in x else 0)

In [21]:
df_train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,genre_ids_new,genre_count
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,[359],Bastille,Dan Smith| Mark Crew,Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,0,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,[1259],Various Artists,Unknown,Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,[1259],Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,[1019],Soundway,Kwadwo Donkoh,Unknown,-1.0,13,24,female,9,2011-05-25,2017-09-11,2,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,[1011],Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,3,1

**Artists **

In [22]:
df_train['artist_name'].nunique()

40583

In [23]:
df_test['artist_name'].nunique()

27564

In [24]:
print("Number of Common Artists in both train & Test : ", len(set.intersection(set(df_train['artist_name']), set(df_test['artist_name']))))

Number of Common Artists in both train & Test :  21774

In [25]:
df_artists = df_train.loc[:,["artist_name","target"]]

artists1 = df_artists.groupby(["artist_name"],as_index=False).sum().rename(columns={"target":"repeat_count"})

artists2 = df_artists.groupby(["artist_name"],as_index=False).count().rename(columns = {"target":"play_count"})

In [26]:
artists1.head()

                             artist_name  repeat_count
0                                  !Conz             1
1                               !magnic!             0
2                            #037 (#037)            20
3                         #1 Beatles Now             7
4  #1 Club Hits - Best Of Dance & Techno             5

In [27]:
df_artist_repeats = artists1.merge(artists2,how="inner",on="artist_name")

In [28]:
df_artist_repeats.head()

                             artist_name  repeat_count  play_count
0                                  !Conz             1           1
1                               !magnic!             0           1
2                            #037 (#037)            20          84
3                         #1 Beatles Now             7          32
4  #1 Club Hits - Best Of Dance & Techno             5           7

In [29]:
df_artist_repeats["repeat_percentage"] = round((df_artist_repeats['repeat_count']*100) / df_artist_repeats['play_count'],1)

In [30]:
df_artist_repeats.head()

,artist_name,repeat_count,play_count,repeat_percentage
0,!Conz,1,1,100.0
1,!magnic!,0,1,0.0
2,#037 (#037),20,84,23.8
3,#1 Beatles Now,7,32,21.9
4,#1 Club Hits - Best Of Dance & Techno,5,7,71.4

In [31]:
df_artist_repeats.head()

,artist_name,repeat_count,play_count,repeat_percentage
0,!Conz,1,1,100.0
1,!magnic!,0,1,0.0
2,#037 (#037),20,84,23.8
3,#1 Beatles Now,7,32,21.9
4,#1 Club Hits - Best Of Dance & Techno,5,7,71.4

In [32]:
df_artist_repeats.drop(["repeat_count","play_count"],axis=1,inplace=True)

In [33]:
df_train = df_train.merge(df_artist_repeats,on="artist_name",how="left").rename(columns={"repeat_percentage":"artist_repeat_percentage"})

In [34]:
df_test = df_test.merge(df_artist_repeats,on="artist_name",how="left").rename(columns={"repeat_percentage":"artist_repeat_percentage"})

In [35]:
df_train.drop(["genre_ids","artist_name"],axis=1,inplace=True)

df_test.drop(["genre_ids","artist_name"],axis=1,inplace=True)

In [36]:
del df_artist_repeats
del df_artists

**Composers**

In [37]:
df_train['composer'] = df_train['composer'].str.split("|") 

df_test['composer'] = df_test['composer'].str.split("|")

In [38]:
df_train['composer_count'] = df_train['composer'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

df_test['composer_count'] = df_test['composer'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

In [39]:
df_train['source_system_tab'].value_counts()

my library      3684730
discover        2179252
search           623286
radio            476701
listen with      212266
explore          167949
Unknown           24849
notification       6185
settings           2200
Name: source_system_tab, dtype: int64

In [40]:
source_tab_dict = {"my library":8,"discover":7,"search":6,"radio":5,"listen with":4,"explore":3,"notification":2,"settings":1,"Unknown":0 }

source_screen_name_dict = {"Local playlist more":19,"Online playlist more":18,"Radio":17,"Unknown":16,"Album more":15,"Search":14,"Artist more":13,"Discover Feature":12,"Discover Chart":11,"Others profile more":10,"Discover Genre":9,"My library":8,"Explore":7,"Discover New":6,"Search Trends":5,"Search Home":4,"My library_Search":3,"Self profile more":2,"Concert":1,"Payment":0}

source_type_dict = {"local-library":12,"online-playlist":11,"local-playlist":10,"radio":9,"album":8,"top-hits-for-artist":7,"song":6,"song-based-playlist":5,"listen-with":4,"Unknown":3,"topic-article-playlist":2,"artist":1,"my-daily-playlist":0}

In [41]:
df_train['source_system_tab'] = df_train['source_system_tab'].map(source_tab_dict)

df_test['source_system_tab'] = df_test['source_system_tab'].map(source_tab_dict)

In [42]:
df_train['source_type'] = df_train['source_type'].map(source_type_dict)
df_test['source_type'] = df_test['source_type'].map(source_type_dict)

In [43]:
df_train['source_screen_name'] = df_train['source_screen_name'].map(source_screen_name_dict)
df_test['source_screen_name'] = df_test['source_screen_name'].map(source_screen_name_dict)

In [44]:
gender_train = pd.get_dummies(df_train['gender'],drop_first=True)

gender_test = pd.get_dummies(df_test['gender'],drop_first=True)

In [45]:
df_train = pd.concat([df_train,gender_train],axis=1)
df_test = pd.concat([df_test,gender_test],axis=1)

In [46]:
df_train.drop(["composer","gender"],axis=1,inplace=True)
df_test.drop(["composer","gender"],axis=1,inplace=True)

In [47]:
df_train['validity_days'] = (df_train['expiration_date'] - df_train['registration_init_time']).dt.days

df_test['validity_days'] = (df_test['expiration_date'] - df_test['registration_init_time']).dt.days

In [48]:
df_train.drop(["registration_init_time","expiration_date"],axis=1,inplace=True)

df_test.drop(["registration_init_time","expiration_date"],axis=1,inplace=True)

In [49]:
df_train['lyricist'] = df_train['lyricist'].str.split("|")
df_test['lyricist'] = df_test['lyricist'].str.split("|")

In [50]:
df_train['lyricist_count'] = df_train['lyricist'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

df_test['lyricist_count'] = df_test['lyricist'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

In [51]:
df_test['artist_repeat_percentage'].fillna(value=0.0,inplace=True)

In [52]:
df_test['source_screen_name'].fillna(df_test['source_screen_name'].mode()[0],inplace=True)

In [53]:
df_train.drop("lyricist",axis=1,inplace=True)

df_test.drop("lyricist",axis=1,inplace=True)

In [54]:
df_songs_extra.drop("name",axis=1,inplace=True)

In [55]:
df_train = df_train.merge(df_songs_extra,how="left",on="song_id")

In [56]:
df_test = df_test.merge(df_songs_extra,how="left",on="song_id")

In [57]:
def isrc_to_year(isrc):
    if type(isrc) == str:
        if int(isrc[5:7]) > 17:
            return 1900 + int(isrc[5:7])
        else:
            return 2000 + int(isrc[5:7])
    else:
        return np.nan

In [58]:
df_train['song_year'] = df_train['isrc'].apply(isrc_to_year)

df_test['song_year'] = df_test['isrc'].apply(isrc_to_year)

In [59]:
df_train.drop("isrc",axis=1,inplace=True)

df_test.drop("isrc",axis=1,inplace=True)

In [60]:
df_train['song_year'].fillna(value=-1,inplace=True)

df_test['song_year'].fillna(value=-1,inplace=True)

In [61]:
df_train['song_year'] = df_train['song_year'].astype("int")

df_test['song_year'] = df_test['song_year'].astype("int")

In [62]:
df_train['source_system_tab'] = df_train['source_system_tab'].astype("category")
df_test['source_system_tab'] = df_test['source_system_tab'].astype("category")

df_train['source_screen_name'] = df_train['source_screen_name'].astype("category")
df_test['source_screen_name'] = df_test['source_screen_name'].astype("category")

df_train['source_type'] = df_train['source_type'].astype("category")
df_test['source_type'] = df_test['source_type'].astype("category")

df_train['language'] = df_train['language'].astype("category")
df_test['language'] = df_test['language'].astype("category")

df_train['city'] = df_train['city'].astype("category")
df_test['city'] = df_test['city'].astype("category")


df_train['registered_via'] = df_train['registered_via'].astype("category")
df_test['registered_via'] = df_test['registered_via'].astype("category")

In [63]:
X = df_train.drop(["msno","song_id","target","genre_count"],axis=1).values

y = df_train['target'].values
X_train = X[:1000000]
y_train = y[:1000000]
X_valid = X[1000000:]
y_valid = y[1000000:]

In [64]:
import lightgbm as lgb

d_train = lgb.Dataset(X_train, y_train)
d_valid = lgb.Dataset(X_valid,y_valid)
watchlist = [d_valid]
d = lgb.Dataset(X,y)

In [65]:
params = {}
params['learning_rate'] = 0.6
params['application'] = 'binary'
params['max_depth'] = 20
params['num_leaves'] = 2**5
params['verbosity'] = 0
params['metric'] = 'auc'
#params['boosting_type']= 'gbdt'

In [66]:
#model = lgb.train(params, train_set=d, num_boost_round=60, valid_sets=watchlist, \
#verbose_eval=5)

In [67]:
model = lgb.train(params, train_set=d, num_boost_round=60, valid_sets=watchlist, \
verbose_eval=5)
from sklearn.externals import joblib
joblib.dump(model, 'lgb.pkl')
model = joblib.load('lgb.pkl')

[5]	valid_0's auc: 0.674108
[10]	valid_0's auc: 0.679197
[15]	valid_0's auc: 0.681873
[20]	valid_0's auc: 0.685114
[25]	valid_0's auc: 0.687648
[30]	valid_0's auc: 0.689203
[35]	valid_0's auc: 0.691205
[40]	valid_0's auc: 0.692892
[45]	valid_0's auc: 0.694716
[50]	valid_0's auc: 0.696484
[55]	valid_0's auc: 0.697765
[60]	valid_0's auc: 0.69903

In [68]:
song_ids = df_test['id'].values

X_test = df_test.drop(["msno","song_id","id","genre_count"],axis=1).values

In [69]:
#testfeature = model.predict(X_test,pred_leaf=True)
#trainfeature = model.predict(X,pred_leaf=True)

In [70]:
df_train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,language,city,bd,registered_via,genre_ids_new,genre_count,artist_repeat_percentage,composer_count,female,male,validity_days,lyricist_count,song_year
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,3,7,11,1,206471.0,52.0,1,0,7,0,1,46.3,2,0,0,2103,0,2016
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,8,19,10,1,284584.0,52.0,13,24,9,1,1,51.0,0,1,0,2301,0,1999
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,8,19,10,1,225396.0,52.0,13,24,9,1,1,21.5,1,1,0,2301,0,2006
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,8,19,10,1,255512.0,-1.0,13,24,9,2,1,100.0,1,1,0,2301,0,2010
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,3,7,11,1,187802.0,52.0,1,0,7,3,1,37.7,3,0,0,2103,0,2016

In [72]:
#testfeature

In [73]:
model.feature_importance()

array([ 98, 112, 147,  97,  51, 183, 265,  82,  40, 172,  18,  35,  27,
       432,  20,  81])

In [74]:
df_train.drop(["msno","song_id","target"],axis=1).head()

,source_system_tab,source_screen_name,source_type,song_length,language,city,bd,registered_via,genre_ids_new,genre_count,artist_repeat_percentage,composer_count,female,male,validity_days,lyricist_count,song_year
0,3,7,11,206471.0,52.0,1,0,7,0,1,46.3,2,0,0,2103,0,2016
1,8,19,10,284584.0,52.0,13,24,9,1,1,51.0,0,1,0,2301,0,1999
2,8,19,10,225396.0,52.0,13,24,9,1,1,21.5,1,1,0,2301,0,2006
3,8,19,10,255512.0,-1.0,13,24,9,2,1,100.0,1,1,0,2301,0,2010
4,3,7,11,187802.0,52.0,1,0,7,3,1,37.7,3,0,0,2103,0,2016

In [75]:
"""from sklearn.linear_model import LogisticRegression
seed = 23
lr = LogisticRegression(max_iter=100,random_state=seed)
lr.fit(trainfeature,y)
result_df = pd.DataFrame()
predict_log = lr.predict_proba(testfeature)
result_df['id'] = song_ids
result_df['target'] = predict_log[:,1]
result_df.to_csv('predict_log.csv.gz', compression = 'gzip', index=False, float_format = '%.5f')
"""

"from sklearn.linear_model import LogisticRegression\nseed = 23\nlr = LogisticRegression(max_iter=100,random_state=seed)\nlr.fit(trainfeature,y)\nresult_df = pd.DataFrame()\npredict_log = lr.predict_proba(testfeature)\nresult_df['id'] = song_ids\nresult_df['target'] = predict_log[:,1]\nresult_df.to_csv('predict_log.csv.gz', compression = 'gzip', index=False, float_format = '%.5f')\n"

In [76]:
y_preds = model.predict(X_test)
result_df = pd.DataFrame()

result_df['id'] = song_ids
result_df['target'] = y_preds
result_df.to_csv('submission5.csv.gz', compression = 'gzip', index=False, float_format = '%.5f')

In [78]:
df_train.drop(["msno","song_id","genre_count"],axis=1).to_csv('tmp/train.csv')
df_test.drop(["msno","song_id","id","genre_count"],axis=1).to_csv('tmp/test.csv')

In [79]:

def get_batch(X, y=None, batch_size = 100,feature_size = 2**5):
        """
        Return minibatch of samples and labels
        
        :param X, y: samples and corresponding labels
        :parma batch_size: minibatch size
        :returns: (tuple) X_batch, y_batch
        """
        def one_hot(y):
            return np.eye(feature_size)[y].squeeze()
        N,_ = X.shape 
        X_batch = []
        y_batch = []
        for i in range(0,N,batch_size):            
            x_ =  X[i:i+batch_size,:]
            x_one_hot = []
            
            for j in range(60):
                one = one_hot(x_[:,j])
                x_one_hot.append(one)
            if not y is None:
                yield np.concatenate(x_one_hot,axis = 1),y[i:i+batch_size]
            else:
                yield np.concatenate(x_one_hot,axis = 1),None

In [77]:
batchIter= get_batch(trainfeature,y)

In [78]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss = 'log',penalty="l1")
def train(model,epoch):
    
    e = 0
    i = 0
    while(e < epoch):
        batchIter = get_batch(trainfeature,y)
        for x_,y_  in batchIter:
            model.partial_fit(x_,y_,classes = [0,1])
            i += 1
            if i % 1000 == 0:
                print(i,"iter done")
                print(model.score(x_,y_))
        print(e, 'epoch done')
        e += 1
    return model

In [79]:
train(model,3)

/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

1000 iter done
0.82
2000 iter done
0.85
3000 iter done
0.77
4000 iter done
0.85
5000 iter done
0.87
6000 iter done
0.84
7000 iter done
0.8
8000 iter done
0.83
9000 iter done
0.79
10000 iter done
0.74
11000 iter done
0.64
12000 iter done
0.76
13000 iter done
0.69
14000 iter done
0.78
15000 iter done
0.85
16000 iter done
0.9
17000 iter done
0.74
18000 iter done
0.78
19000 iter done
0.62
20000 iter done
0.79
21000 iter done
0.63
22000 iter done
0.68
23000 iter done
0.7
24000 iter done
0.6
25000 iter done
0.67
26000 iter done
0.71
27000 iter done
0.72
28000 iter done
0.72
29000 iter done
0.65
30000 iter done
0.63
31000 iter done
0.66
32000 iter done
0.65
33000 iter done
0.69
34000 iter done
0.63
35000 iter done
0.75
36000 iter done
0.55
37000 iter done
0.68
38000 iter done
0.65
39000 iter done
0.73
40000 iter done
0.57
41000 iter done
0.77
42000 iter done
0.6
43000 iter done
0.77
44000 iter done
0.7
45000 iter done
0.65
46000 iter done
0.67
47000 iter done
0.57
48000 iter done
0.66
49000 iter done
0.67
50000 iter done
0.73
51000 iter done
0.78
52000 iter done
0.47
53000 iter done
0.69
54000 iter done
0.54
55000 iter done
0.68
56000 iter done
0.6
57000 iter done
0.61
58000 iter done
0.67
59000 iter done
0.72
60000 iter done
0.64
61000 iter done
0.68
62000 iter done
0.64
63000 iter done
0.63
64000 iter done
0.72
65000 iter done
0.69
66000 iter done
0.71
67000 iter done
0.65
68000 iter done
0.73
69000 iter done
0.66
70000 iter done
0.71
71000 iter done
0.63
72000 iter done
0.61
73000 iter done
0.59
0 epoch done
74000 iter done
0.79
75000 iter done
0.73
76000 iter done
0.79
77000 iter done
0.77
78000 iter done
0.65
79000 iter done
0.75
80000 iter done
0.8
81000 iter done
0.83
82000 iter done
0.65
83000 iter done
0.81
84000 iter done
0.61
85000 iter done
0.79
86000 iter done
0.72
87000 iter done
0.84
88000 iter done
0.74
89000 iter done
0.63
90000 iter done
0.79
91000 iter done
0.73
92000 iter done
0.73
93000 iter done
0.67
94000 iter done
0.69
95000 iter done
0.65
96000 iter done
0.69
97000 iter done
0.8
98000 iter done
0.52
99000 iter done
0.6
100000 iter done
0.73
101000 iter done
0.64
102000 iter done
0.62
103000 iter done
0.73
104000 iter done
0.74
105000 iter done
0.75
106000 iter done
0.66
107000 iter done
0.68
108000 iter done
0.8
109000 iter done
0.76
110000 iter done
0.7

KeyboardInterrupt:

In [ ]:
#

In [ ]:
#y_logistic = y.predict_proba()

In [ ]:
x_,y_ = next(batchIter)
print(x_,y_)

In [80]:
def test(model,testfeature):
    #model = SGDClassifier(loss = 'log')
    y = []
    batchIter = get_batch(testfeature)
    for x_,_  in batchIter:
        y_ = model.predict_proba(x_)
        y.append(y_)   
    return np.concatenate(y)
y_logistic = test(model,testfeature)
y_logistic = y_logistic[:,1]

In [81]:
result_df = pd.DataFrame()

result_df['id'] = song_ids
result_df['target'] = y_logistic
result_df.to_csv('gbdt_logistic.csv.gz', compression = 'gzip', index=False, float_format = '%.5f')

NameError: name 'y_preds' is not defined

In [ ]:
#test(model,trainfeature[:10,:])

In [ ]:
y[:100]

In [83]:
y_logistic

array([ 0.57749766,  0.58682825,  0.19088878, ...,  0.30009641,
        0.00766435,  0.00774449])