In [3]:
import pandas as pd

In [4]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
songs = pd.read_csv('data/songs.csv')
members = pd.read_csv('data/members.csv')

In [5]:
train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [6]:
members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [7]:
train = pd.merge(train,songs,on='song_id')

In [8]:
train = pd.merge(train,members,on='msno')

In [9]:
tab = pd.get_dummies(train['source_system_tab'])

In [10]:
screen = pd.get_dummies(train['source_screen_name'] , dummy_na=True)

In [11]:
stype = pd.get_dummies(train['source_type'] , dummy_na=True)

In [12]:
genre = pd.get_dummies(train['genre_ids'], dummy_na=True)

In [13]:
gender = pd.get_dummies(train['gender'], dummy_na=True)

In [14]:
city = pd.get_dummies(train['city'], dummy_na=True)

In [15]:
lan = pd.get_dummies(train['language'],dummy_na=True)

In [16]:
#mask = df.loc[:,idx['age',:]]<0
train.loc[:,'bd'][train['bd']<0] = 0
train.loc[:,'bd'][train['bd'] > 80] = 0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
bins = [0,1,14,20,30,40,50,80]
age = pd.cut(train['bd'], bins=bins, labels=[1,2,3,4,5,6,7], include_lowest=True)

In [18]:
age = pd.get_dummies(age,dummy_na=True)

In [20]:
Y = train['target']

In [21]:
Train = pd.concat([genre,tab,screen,stype,gender,city,lan,Y],axis=1)

In [23]:
train = Train[:6377304]
test = Train[6377304:]

In [24]:
train.to_csv('train.csv')

In [25]:
test.to_csv('valid.csv')